<a href="https://colab.research.google.com/github/whatsupabhijit/py_rambling/blob/master/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

- `Pandas` is a popular Python data analysis tool.

- It provides easy to use and highly efficient data structures.

- These data structures deal with numeric or labeled data, stored in the form of tables

**Data Structures in Pandas**

Three fundamental data structures used in pandas are,

- Series: A 1-D array.

- Data Frame: A 2-D array or two or more Series joined together

- Panel: A 3-D array

**Series ** is a 1-D array, holding data values of a single variable, captured from multiple observations.

Few examples are:

1. Height of each student, belonging to a Class 'C'.''
2. Amount of daily rainfall received at Station 'X', in July 2017
3. Total sales of a product 'P' in every quarter of 2016.

In [0]:
!pip install panda
!pip install request

In [0]:
import numpy as np
import pandas as pd   # mind the extra 's' in pandas as importing panda alone gives you error

In [21]:
## creating panda series from a dictionary

d = {'Math': 180, 'Physics': 157, 'Chemistry:': 157}
pd.Series(d)

Chemistry:    157
Math          180
Physics       157
dtype: int64

In [20]:
# Creating a panda series from numpy

n = np.random.randn(3) * -100

pd.Series(n, index = ['Math', 'Physics', 'Chemistry'])

Math         149.982057
Physics      159.821153
Chemistry   -150.817059
dtype: float64

**Problem 1.1**
Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4, which represent heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine the shape of heights_A and display it.

In [31]:
ht = [176.2, 158.4, 167.6, 156.2, 161.4]

heights_A = pd.Series(ht, index = ['s1', 's2', 's3', 's4', 's5'])
heights_A

heights_A.shape

(5,)

**Problem 1.2**
Create a series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9, which represent weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine data type of weights_A and display it.

Hint: Make use of Series method available in pandas library.

In [33]:
wt = [85.1, 90.2, 76.8, 80.4,  78.9,]
weights_A = pd.Series(wt, index = ['s1', 's2', 's3', 's4', 's5'])

weights_A

weights_A.shape

(5,)

A **Data Frame** is 2-D shaped and contains data of different parameters, captured from multiple observations.

Each **observation** is represented by a single **row**, and each **parameter** by a single **column**.

Each column can hold different data type.
Few examples are:

- Height and Weight of all students, belonging to a Class 'C'.
- Daily Rainfall received and Average Temperature of a location 'X', in the year 2017.

---

In [47]:
## Data frame created from pd.Series

s = {'subject': pd.Series(['Math', 'Physics', 'Chemistry']), 'marks': pd.Series([100, 190, 185]) }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

In [48]:
## Data frame created from list

s = {'subject': ['Math', 'Physics', 'Chemistry'], 'marks': [100, 190, 185] }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

**Problem 1.3**
Create a Data Frame named df_A, which holds the height and weight of five students namely s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight respectively.

Display index values of df_A.

Hint: Make use of DataFrame method in pandas, and also the series heights_A, weights_A created in previous problems.

In [49]:
sf_dict = {'heights': heights_A, 'weights': weights_A }
df_A = pd.DataFrame(sf_dict)
df_A

    heights  weights
s1    176.2     85.1
s2    158.4     90.2
s3    167.6     76.8
s4    156.2     80.4
s5    161.4     78.9

**Problem 1.4**
Create two Series named heights_B and weights_B from two random 1-D numpy arrays with five elements each.

The first array is obtained from the normal distribution of mean 170.0 and standard deviation 25.0.

The second array is derived from the normal distribution of mean 75.0 and standard deviation 12.0.

Label both Series elements with s1, s2, s3, s4 and s5.

In [63]:
heights_B = pd.Series(170 + 25 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])
weights_B = pd.Series(75  + 12 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])

print(heights_B)

print(weights_B)

s1    164.286371
s2    162.092376
s3    135.527418
s4    149.485393
s5    174.172744
dtype: float64
s1    64.294766
s2    88.820302
s3    92.638241
s4    69.384514
s5    81.990551
dtype: float64

**Problem 1.5**
Create a Data Frame df_B holding height and weight of students s1, s2, s3, s4 and s5 belonging to class B.

Label the columns as Student_height and Student_weight respectively.

Display the column names of df_B.

In [65]:
df_B = pd.DataFrame({'heights': heights_B, 'weigts': weights_B})
df_B

       heights     weigts
s1  164.286371  64.294766
s2  162.092376  88.820302
s3  135.527418  92.638241
s4  149.485393  69.384514
s5  174.172744  81.990551

A **Panel** holds **two** or **more** Data **Frames** together as a single unit.

Few examples are:

- Height and Weight of all students, belonging to 3 Classes 'A', 'B', and 'C'.
- Daily Rainfall received and Average Temperatures of 3 locations 'X', 'Y', and 'Z' captured in the year 2017.

---

**Problem 1.6**
Create a panel p, which holds previously created two data frames df_A and df_B.

Label the first data frame as ClassA and second as ClassB.


Determine the shape of panel p and display it.

In [78]:
df_panel = pd.Panel({'ClassA': df_A, 'ClassB': df_B})

print('Shape:-')
print(df_panel.shape)

print('\n\nClassA')
print(df_panel.ClassA)


print('\n\nClassB')
print(df_panel.ClassB)

print("\n\ndf_panel:- ")
print(df_panel)

Shape:-
(2, 5, 3)


ClassA
    heights  weights  weigts
s1    176.2     85.1     NaN
s2    158.4     90.2     NaN
s3    167.6     76.8     NaN
s4    156.2     80.4     NaN
s5    161.4     78.9     NaN


ClassB
       heights  weights     weigts
s1  164.286371      NaN  64.294766
s2  162.092376      NaN  88.820302
s3  135.527418      NaN  92.638241
s4  149.485393      NaN  69.384514
s5  174.172744      NaN  81.990551


df_panel:-
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 3 (minor_axis)
Items axis: ClassA to ClassB
Major_axis axis: s1 to s5
Minor_axis axis: heights to weigts