<a href="https://colab.research.google.com/github/whatsupabhijit/py_rambling/blob/master/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

- `Pandas` is a popular Python data analysis tool.

- It provides easy to use and highly efficient data structures.

- These data structures deal with numeric or labeled data, stored in the form of tables

**Data Structures in Pandas**

Three fundamental data structures used in pandas are,

- Series: A 1-D array.

- Data Frame: A 2-D array or two or more Series joined together

- Panel: A 3-D array

# **Series ** is a 1-D array, holding data values of a single variable, captured from multiple observations.

Few examples are:

1. Height of each student, belonging to a Class 'C'.''
2. Amount of daily rainfall received at Station 'X', in July 2017
3. Total sales of a product 'P' in every quarter of 2016.

In [30]:
!pip install panda
!pip install request

Collecting panda
  Downloading https://files.pythonhosted.org/packages/79/03/74996420528fe488ce17c42b6400531c8067d7eb661c304fa3aa8fdad17c/panda-0.3.1.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from panda) (40.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from panda) (2.18.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (2018.10.15)
Building wheels for collected packages: panda
  Running setup.py bdist_wheel for panda ... - done
  Stored in directory: /root/.cache/pip/wheels/c6/c8/45/06ed898b0bb401c1ff207dbb05b1587ff28860a236d98b1996
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
Collecting request
  Downloading https://files.pythonhosted.org/packages/14/03/3985ca165063f8825be231383df7e214551a074b69c8358034b5a6c6d556/request-2018.11.20-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from request) (40.6.2)
Collecting get (from request)
  Downloading https://files.pythonhosted.org/packages/77/50/a8f316f095765b6299791f8a2263893a01856036be1c377170a91e4696ed/get-2018.11.19-py2.py3-none-any.whl
Collecting post (from request)
  Downloading https://files.pythonhosted.org/packages/60/bf/9e3a234021486d3f25edda957f82c7228a6b4ce5b413bc6e771f634a6ba9/post-2018.11.20-py2.py3-none-any.whl
Collecting query-string (from get->request)
  Downloading https://files.pythonhosted.org/packages/a5/b6/7d896d6cdc0660275512e8835ac27ecdddf3540adb8375bb2e5b5ccb56bc/query_string-2018.11.20-py2.py3-none-any.whl
Collecting public (from query-string->get->request)
  Downloading https://files.pythonhosted.org/packages/36/c8/6dbeeeeb5ae9d897873df6bcdf4141cf8f160fa1e75a8a62d53535ddd19f/public-2018.11.20-py2.py3-none-any.whl
Installing collected packages: public, query-string, get, post, request
Successfully installed get-2018.11.19 post-2018.11.20 public-2018.11.20 query-string-2018.11.20 request-2018.11.20

In [0]:
import numpy as np
import pandas as pd   # mind the extra 's' in pandas as importing panda alone gives you error

In [32]:
## creating panda series from a dictionary

d = {'Math': 180, 'Physics': 157, 'Chemistry:': 157}
pd.Series(d)

Chemistry:    157
Math          180
Physics       157
dtype: int64

In [33]:
# Creating a panda series from numpy

n = 30 + 25 * np.random.randn(3) 

pd.Series(n, index = ['Math', 'Physics', 'Chemistry'])

Math         46.964490
Physics      11.838630
Chemistry     7.569658
dtype: float64

**Problem 1.1**
Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4, which represent heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine the shape of heights_A and display it.

In [34]:
ht = [176.2, 158.4, 167.6, 156.2, 161.4]

heights_A = pd.Series(ht, index = ['s1', 's2', 's3', 's4', 's5'])
heights_A

heights_A.shape

(5,)

**Problem 1.2**
Create a series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9, which represent weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine data type of weights_A and display it.

Hint: Make use of Series method available in pandas library.

In [35]:
wt = [85.1, 90.2, 76.8, 80.4,  78.9,]
weights_A = pd.Series(wt, index = ['s1', 's2', 's3', 's4', 's5'])

print(weights_A)

print(weights_A.shape)

s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
dtype: float64
(5,)

# A ***Data Frame*** is 2-D shaped and contains data of diff parameters, captured from multiple observations.

Each **observation** is represented by a single **row**, and each **parameter** by a single **column**.

Each column can hold different data type.
Few examples are:

- Height and Weight of all students, belonging to a Class 'C'.
- Daily Rainfall received and Average Temperature of a location 'X', in the year 2017.

---

In [36]:
## Data frame created from pd.Series

s = {'subject': pd.Series(['Math', 'Physics', 'Chemistry']), 'marks': pd.Series([100, 190, 185]) }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

In [37]:
## Data frame created from list

s = {'subject': ['Math', 'Physics', 'Chemistry'], 'marks': [100, 190, 185] }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

**Problem 1.3**
Create a Data Frame named df_A, which holds the height and weight of five students namely s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight respectively.

Display index values of df_A.

Hint: Make use of DataFrame method in pandas, and also the series heights_A, weights_A created in previous problems.

In [38]:
sf_dict = {'heights': heights_A, 'weights': weights_A }
df_A = pd.DataFrame(sf_dict)
df_A

    heights  weights
s1    176.2     85.1
s2    158.4     90.2
s3    167.6     76.8
s4    156.2     80.4
s5    161.4     78.9

**Problem 1.4**
Create two Series named heights_B and weights_B from two random 1-D numpy arrays with five elements each.

The first array is obtained from the normal distribution of mean 170.0 and standard deviation 25.0.

The second array is derived from the normal distribution of mean 75.0 and standard deviation 12.0.

Label both Series elements with s1, s2, s3, s4 and s5.

In [39]:
heights_B = pd.Series(170 + 25 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])
weights_B = pd.Series(75  + 12 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])

print(heights_B)

print(weights_B)

s1    174.359272
s2    195.443941
s3    183.597668
s4    214.585255
s5    175.436158
dtype: float64
s1    68.458848
s2    88.282270
s3    67.525174
s4    79.642886
s5    74.686855
dtype: float64

**Problem 1.5**
Create a Data Frame df_B holding height and weight of students s1, s2, s3, s4 and s5 belonging to class B.

Label the columns as Student_height and Student_weight respectively.

Display the column names of df_B.

In [40]:
df_B = pd.DataFrame({'heights': heights_B, 'weigts': weights_B})
df_B

       heights     weigts
s1  174.359272  68.458848
s2  195.443941  88.282270
s3  183.597668  67.525174
s4  214.585255  79.642886
s5  175.436158  74.686855

# A **Panel** holds **two** or **more** Data **Frames** together as a single unit.

Few examples are:

- Height and Weight of all students, belonging to 3 Classes 'A', 'B', and 'C'.
- Daily Rainfall received and Average Temperatures of 3 locations 'X', 'Y', and 'Z' captured in the year 2017.

---

**Problem 1.6**
Create a panel p, which holds previously created two data frames df_A and df_B.

Label the first data frame as ClassA and second as ClassB.


Determine the shape of panel p and display it.

In [41]:
df_panel = pd.Panel({'ClassA': df_A, 'ClassB': df_B})

print('Shape:-')
print(df_panel.shape)

print('\n\nClassA')
print(df_panel.ClassA)


print('\n\nClassB')
print(df_panel.ClassB)

print("\n\ndf_panel:- ")
print(df_panel)

Shape:-
(2, 5, 3)


ClassA
    heights  weights  weigts
s1    176.2     85.1     NaN
s2    158.4     90.2     NaN
s3    167.6     76.8     NaN
s4    156.2     80.4     NaN
s5    161.4     78.9     NaN


ClassB
       heights  weights     weigts
s1  174.359272      NaN  68.458848
s2  195.443941      NaN  88.282270
s3  183.597668      NaN  67.525174
s4  214.585255      NaN  79.642886
s5  175.436158      NaN  74.686855


df_panel:-
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 3 (minor_axis)
Items axis: ClassA to ClassB
Major_axis axis: s1 to s5
Minor_axis axis: heights to weigts

# Data Access

Data Access refers to extracting data present in defined data structures.

Pandas provide utilities like **loc** and **iloc** to get data from a Series, a DataFrame, or a Panel.

**Problem 2.1**

Print the second element of series heights_A, as a string.

In [42]:
#Using index
print (heights_A[1])

#Using get() and index
print (heights_A.get(1))


#Using get() and index variable name
print (heights_A.get('s2'))

158.4
158.4
158.4

**Problem 2.2**

Obtain central three elements of Series heights_A.

In [43]:
print (heights_A[1:-1])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

**Accessing Data from a Data Frame**

Pandas allows .loc, .iloc methods for selecting rows.

Using square brackets ([ ]) is also allowed, especially for selecting columns.

**Problem 2.3**

Select the column of df_A, referring to student heights and store in variable height.

Display the type of height

In [44]:
print(df_A)

height = df_A['heights']

print('\n\nheight:')
print(height)


print('\n\n Type of Height')
print(type(height))   ## You could also use print(type(_))   _ refers to latest one

    heights  weights
s1    176.2     85.1
s2    158.4     90.2
s3    167.6     76.8
s4    156.2     80.4
s5    161.4     78.9


height:
s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
Name: heights, dtype: float64


 Type of Height
<class 'pandas.core.series.Series'>

**Problem 2.4**

Select the rows corresponding to students s1, s2 of df_A and display them.

In [45]:
df_A[:2]

    heights  weights
s1    176.2     85.1
s2    158.4     90.2

In [46]:
print(df_A.loc['s1'])

print(df_A.loc['s2'])

heights    176.2
weights     85.1
Name: s1, dtype: float64
heights    158.4
weights     90.2
Name: s2, dtype: float64

**Problem 2.5**

Select the rows corresponding to students s1, s2 and s5 of df_A in the order s2, s5, s1 and display them.

In [47]:
df_A.loc[['s2', 's5', 's1']]

    heights  weights
s2    158.4     90.2
s5    161.4     78.9
s1    176.2     85.1

**# Problem 2.6**

whats the difference between loc and iloc?.


loc gets rows (or columns) with particular labels from the index. iloc gets rows (or columns) at particular positions in the index (so it only takes integers). ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.

In [65]:
df_p26 = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

print(df_p26.iloc[1:3])   #### taking integer index as input 
 
print(df_p26.loc['r2':'r3'])   #### taking given string index as input

     A   B
r2  78  67
r3  54  43
     A   B
r2  78  67
r3  54  43

**Problem 2.7**


How do you add a new column 'C' to a data frame as similar to the previous one, with 3 rows

In [68]:
df_p26['C'] = [12, 98, 45]
df_p26

     A   B   C
r1  34  12  12
r2  78  67  98
r3  54  43  45

**Problem 2.8**

How do you delete a column from a data fram?

In [69]:
del df_p26['B']
df_p26

     A   C
r1  34  12
r2  78  98
r3  54  45

# Knowing a Series

It is possible to understand a Series better by using ***describe*** method.

The method provides details like mean, std, etc. about a series.

In [71]:
temp = pd.Series(28 + 10*np.random.randn(10))

print(temp.describe())

count    10.000000
mean     24.824926
std      12.243934
min      -1.654203
25%      16.894413
50%      29.899773
75%      33.180425
max      37.426783
dtype: float64

# Knowing a DataFrame

Two methods majorly ***info*** and ***describe*** can be used to know about the data, present in a data frame.

- **describe** method by default provides details of **only** ***numeric*** fields.
- You can use ***include*** argument to know about other columns.

In [79]:
df = pd.DataFrame({
    'temp':pd.Series(28 + 10*np.random.randn(10)), 
    'rain':pd.Series(100 + 50*np.random.randn(10)),
    'location':list('AAAAABBBBB')
})

print(df.info(), end= "\n\n")

print(df.describe(), end='\n\n')

print(df.describe(include=['object', 'float64']))  ### object is used to include location

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
location    10 non-null object
rain        10 non-null float64
temp        10 non-null float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes
None

             rain       temp
count   10.000000  10.000000
mean    82.432916  24.917036
std     61.340448   8.849187
min    -10.135947  11.152692
25%     32.898724  17.700087
50%     95.646498  25.403062
75%    125.735164  32.196103
max    161.618502  37.847981

       location        rain       temp
count        10   10.000000  10.000000
unique        2         NaN        NaN
top           A         NaN        NaN
freq          5         NaN        NaN
mean        NaN   82.432916  24.917036
std         NaN   61.340448   8.849187
min         NaN  -10.135947  11.152692
25%         NaN   32.898724  17.700087
50%         NaN   95.646498  25.403062
75%         NaN  125.735164  32.196103
max         NaN  161.618502  37.847981