<a href="https://colab.research.google.com/github/whatsupabhijit/py_rambling/blob/master/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

- `Pandas` is a popular Python data analysis tool.

- It provides easy to use and highly efficient data structures.

- These data structures deal with numeric or labeled data, stored in the form of tables

**Data Structures in Pandas**

Three fundamental data structures used in pandas are,

- Series: A 1-D array.

- Data Frame: A 2-D array or two or more Series joined together

- Panel: A 3-D array

# **Series ** is a 1-D array, holding data values of a single variable, captured from multiple observations.

Few examples are:

1. Height of each student, belonging to a Class 'C'.''
2. Amount of daily rainfall received at Station 'X', in July 2017
3. Total sales of a product 'P' in every quarter of 2016.

In [2]:
!pip install panda
!pip install request

Collecting panda
  Downloading https://files.pythonhosted.org/packages/79/03/74996420528fe488ce17c42b6400531c8067d7eb661c304fa3aa8fdad17c/panda-0.3.1.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from panda) (40.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from panda) (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->panda) (2018.10.15)
Building wheels for collected packages: panda
  Running setup.py bdist_wheel for panda ... - done
  Stored in directory: /root/.cache/pip/wheels/c6/c8/45/06ed898b0bb401c1ff207dbb05b1587ff28860a236d98b1996
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
Collecting request
  Downloading https://files.pythonhosted.org/packages/b8/13/b88a65f14470f3e17d72a1a930f173b36717c211685dbbadfc2e5ba21303/request-1.0.2.tar.gz
Collecting get (from request)
  Downloading https://files.pythonhosted.org/packages/dc/bd/264e65844b66e2b5fa829f3f6c526056ee14a0508fb6b454e0af4105a21c/get-1.0.3.tar.gz
Collecting post (from request)
  Downloading https://files.pythonhosted.org/packages/7f/ea/ddf22395dcee7a45b7ab7564a087725cafc778f421268814cd8a5ec9ffdf/post-1.0.2.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from request) (40.6.2)
Collecting query_string (from get->request)
  Downloading https://files.pythonhosted.org/packages/be/2d/719132c49c715743afff3781e04489cd21189914a563b56837f891fd02ac/query_string-1.0.2.tar.gz
Collecting public (from query_string->get->request)
  Downloading https://files.pythonhosted.org/packages/0e/45/1a8ab7780a60b8dbfd030b3b8d8515f80f4ff5c6a1b39f4fcb956575f421/public-2.0.1-py2.py3-none-any.whl
Building wheels for collected packages: request, get, post, query-string
  Running setup.py bdist_wheel for request ... - done
  Stored in directory: /root/.cache/pip/wheels/2d/97/9e/52761f5f62936056448f467ea6e60f13405a4d2c95fd98d141
  Running setup.py bdist_wheel for get ... - done
  Stored in directory: /root/.cache/pip/wheels/bf/93/96/706b669b49bb26e647439e1539f151b2b2df889327bcac0c22
  Running setup.py bdist_wheel for post ... - done
  Stored in directory: /root/.cache/pip/wheels/0b/43/70/98791de554b42699fef279ec02ad5f9bd088cf6a97bb60bb3e
  Running setup.py bdist_wheel for query-string ... - done
  Stored in directory: /root/.cache/pip/wheels/78/2f/5d/0cacc1571db01f715f3173cd906aa21abde2864857397b759f
Successfully built request get post query-string
Installing collected packages: public, query-string, get, post, request
Successfully installed get-1.0.3 post-1.0.2 public-2.0.1 query-string-1.0.2 request-1.0.2

In [0]:
import numpy as np
import pandas as pd   # mind the extra 's' in pandas as importing panda alone gives you error

In [4]:
## creating panda series from a dictionary

d = {'Math': 180, 'Physics': 157, 'Chemistry:': 157}
pd.Series(d)

Chemistry:    157
Math          180
Physics       157
dtype: int64

In [5]:
# Creating a panda series from numpy

n = np.random.randn(3) * -100

pd.Series(n, index = ['Math', 'Physics', 'Chemistry'])

Math         24.815602
Physics     -13.187098
Chemistry   -44.146338
dtype: float64

**Problem 1.1**
Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4, which represent heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine the shape of heights_A and display it.

In [6]:
ht = [176.2, 158.4, 167.6, 156.2, 161.4]

heights_A = pd.Series(ht, index = ['s1', 's2', 's3', 's4', 's5'])
heights_A

heights_A.shape

(5,)

**Problem 1.2**
Create a series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9, which represent weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Determine data type of weights_A and display it.

Hint: Make use of Series method available in pandas library.

In [7]:
wt = [85.1, 90.2, 76.8, 80.4,  78.9,]
weights_A = pd.Series(wt, index = ['s1', 's2', 's3', 's4', 's5'])

weights_A

weights_A.shape

(5,)

# A ***Data Frame*** is 2-D shaped and contains data of diff parameters, captured from multiple observations.

Each **observation** is represented by a single **row**, and each **parameter** by a single **column**.

Each column can hold different data type.
Few examples are:

- Height and Weight of all students, belonging to a Class 'C'.
- Daily Rainfall received and Average Temperature of a location 'X', in the year 2017.

---

In [8]:
## Data frame created from pd.Series

s = {'subject': pd.Series(['Math', 'Physics', 'Chemistry']), 'marks': pd.Series([100, 190, 185]) }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

In [9]:
## Data frame created from list

s = {'subject': ['Math', 'Physics', 'Chemistry'], 'marks': [100, 190, 185] }
df = pd.DataFrame(s)
df

   marks    subject
0    100       Math
1    190    Physics
2    185  Chemistry

**Problem 1.3**
Create a Data Frame named df_A, which holds the height and weight of five students namely s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight respectively.

Display index values of df_A.

Hint: Make use of DataFrame method in pandas, and also the series heights_A, weights_A created in previous problems.

In [10]:
sf_dict = {'heights': heights_A, 'weights': weights_A }
df_A = pd.DataFrame(sf_dict)
df_A

    heights  weights
s1    176.2     85.1
s2    158.4     90.2
s3    167.6     76.8
s4    156.2     80.4
s5    161.4     78.9

**Problem 1.4**
Create two Series named heights_B and weights_B from two random 1-D numpy arrays with five elements each.

The first array is obtained from the normal distribution of mean 170.0 and standard deviation 25.0.

The second array is derived from the normal distribution of mean 75.0 and standard deviation 12.0.

Label both Series elements with s1, s2, s3, s4 and s5.

In [11]:
heights_B = pd.Series(170 + 25 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])
weights_B = pd.Series(75  + 12 * np.random.randn(5), index = ['s1', 's2', 's3', 's4', 's5'])

print(heights_B)

print(weights_B)

s1    111.187747
s2    210.780859
s3    156.852524
s4    186.788002
s5    225.075621
dtype: float64
s1    67.759492
s2    64.008790
s3    64.454443
s4    71.132318
s5    57.217313
dtype: float64

**Problem 1.5**
Create a Data Frame df_B holding height and weight of students s1, s2, s3, s4 and s5 belonging to class B.

Label the columns as Student_height and Student_weight respectively.

Display the column names of df_B.

In [12]:
df_B = pd.DataFrame({'heights': heights_B, 'weigts': weights_B})
df_B

       heights     weigts
s1  111.187747  67.759492
s2  210.780859  64.008790
s3  156.852524  64.454443
s4  186.788002  71.132318
s5  225.075621  57.217313

# A **Panel** holds **two** or **more** Data **Frames** together as a single unit.

Few examples are:

- Height and Weight of all students, belonging to 3 Classes 'A', 'B', and 'C'.
- Daily Rainfall received and Average Temperatures of 3 locations 'X', 'Y', and 'Z' captured in the year 2017.

---

**Problem 1.6**
Create a panel p, which holds previously created two data frames df_A and df_B.

Label the first data frame as ClassA and second as ClassB.


Determine the shape of panel p and display it.

In [13]:
df_panel = pd.Panel({'ClassA': df_A, 'ClassB': df_B})

print('Shape:-')
print(df_panel.shape)

print('\n\nClassA')
print(df_panel.ClassA)


print('\n\nClassB')
print(df_panel.ClassB)

print("\n\ndf_panel:- ")
print(df_panel)

Shape:-
(2, 5, 3)


ClassA
    heights  weights  weigts
s1    176.2     85.1     NaN
s2    158.4     90.2     NaN
s3    167.6     76.8     NaN
s4    156.2     80.4     NaN
s5    161.4     78.9     NaN


ClassB
       heights  weights     weigts
s1  111.187747      NaN  67.759492
s2  210.780859      NaN  64.008790
s3  156.852524      NaN  64.454443
s4  186.788002      NaN  71.132318
s5  225.075621      NaN  57.217313


df_panel:-
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 3 (minor_axis)
Items axis: ClassA to ClassB
Major_axis axis: s1 to s5
Minor_axis axis: heights to weigts

# Data Access

Data Access refers to extracting data present in defined data structures.

Pandas provide utilities like **loc** and **iloc** to get data from a Series, a DataFrame, or a Panel.

**Problem 2.1**

Print the second element of series heights_A, as a string.

In [19]:
#Using index
print (heights_A[1])

#Using get() and index
print (heights_A.get(1))


#Using get() and index variable name
print (heights_A.get('s2'))

158.4
158.4
158.4

**Problem 2.2**

Obtain central three elements of Series heights_A.

In [21]:
print (heights_A[1:-1])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

**Accessing Data from a Data Frame**

Pandas allows .loc, .iloc methods for selecting rows.

Using square brackets ([ ]) is also allowed, especially for selecting columns.

**Problem 2.3**

Select the column of df_A, referring to student heights and store in variable height.

Display the type of height

In [29]:
print(df_A)

height = df_A['heights']

print('\n\nheight:')
print(height)


print('\n\n Type of Height')
print(type(height))   ## You could also use print(type(_))   _ refers to latest one

    heights  weights
s1    176.2     85.1
s2    158.4     90.2
s3    167.6     76.8
s4    156.2     80.4
s5    161.4     78.9


height:
s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
Name: heights, dtype: float64


 Type of Height
<class 'pandas.core.series.Series'>

**Problem 2.4**

Select the rows corresponding to students s1, s2 of df_A and display them.

In [34]:
df_A[:2]

    heights  weights
s1    176.2     85.1
s2    158.4     90.2

In [38]:
print(df_A.loc['s1'])

print(df_A.loc['s2'])

heights    176.2
weights     85.1
Name: s1, dtype: float64
heights    158.4
weights     90.2
Name: s2, dtype: float64

**Problem 2.5**

Select the rows corresponding to students s1, s2 and s5 of df_A in the order s2, s5, s1 and display them.

In [42]:
df_A.loc[['s2', 's5', 's1']]

    heights  weights
s2    158.4     90.2
s5    161.4     78.9
s1    176.2     85.1